#header
  background: url("../img/firmbookback.jpg") no-repeat
  background-size: cover
  height: 900px
  text-align: center
  overflow: auto


  article
    width: 80%
    margin: 0 auto
  

    h1
      margin-bottom: 10px


  .main-nav
    display: flex
    margin-top: 20px


    li
      list-style: none
    li:first-child
        margin-right: auto


    a
      color: black
      display: block
      border-radius: 4 px
      padding: 15px 30px
      text-decoration: none
      font-weight: 600
      text-transform: uppercase

a.download
  background: white
  color: white
  box-shadow: 0 10px 10px -10px rgba(0,0,0,.5)
  border-radius: 10px
