#header
  background: url("../img/firmbook9.jpg") no-repeat
  background-size: cover
  height: 100vh
  text-align: center
  overflow: hidden


  article
    width: 80%
    margin: 0 auto


  h1
    margin-top: 50px
    margin-bottom: 40px
    color: antiquewhite

  p
    color: antiquewhite
    font-size: 19px

.button
  border-radius: 10px
  background: rgb(250,120,14)
  background: linear-gradient(38deg, rgba(250,120,14,1) 0%, rgba(218,4,4,1) 100%)




#brands
  padding: 20px 0
  background: azure

h3
  text-align: center
  color: black

p
  text-align: center


#features
  background: white
  text-align: center
  position: relative
  height: 600px
  &:after
    bottom: 0
    position: absolute
    background: inherit
    content: ""
    height: 50%
    left: 0
    right: 0
    transform: skewY(-5deg)
    transform-origin: 102%
    z-index: -1


  h2
    margin: 80px


.card
  display: grid
  grid-template-columns: repeat(6, auto)
  @media only screen and (max-width: 5050px)
      grid-template-columns: repeat(3, auto)
  grid-gap: 20px


.features-card
  background: white
  border-radius: 10px
  padding: 30px
